.header{
    background-color: rgb(228, 99, 185);
    grid-area: h;    
}

.main{
    background-color: rgb(226, 220, 147);
    grid-area: m;    

}

.aside{
    background-color: rgb(228, 186, 88);
    grid-area: a;    

}

.footer{
    background-color: rgb(245, 172, 172);
    grid-area: f;    

}

.grid{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    'h h h'
    'm m a'
    'f f f';
}